<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestG1">
    <classes>
      <class name="testng.T2"/>
      <class name="testng.TestNgclass1"/>
      <class name="testng.T5"/>
      <class name="testng.T4"/>
      <class name="testng.G1"/>
    </classes>
  </test> <!-- TestG1 -->
</suite> <!-- Suite -->
